/* PAGE LAYOUT*/
body {
    background-image: url("/images/Texture-Paper.png");
    margin: auto;
    width: 1050px;
    padding: 10px;    
}

/* MAIN CONTROLS LAYOUT */
main{
    
    display:flex;
    height:100px;
}

section {
    margin-bottom: 5px;
}

h1{
    font-family: 'Kranky', cursive;
}

/* CANVAS DESIGN*/
canvas {
    border: 10px double black;
    font-weight: 10;
}

/* CONTAINERS */
#musicContainer, #aestheticsContainer, #audioContainer {
    background-color: white;
    border: 10px double black;
    width: 600px;
    margin: auto;
    padding-left: 10px;
    text-align: center;
    height:250px;
    font-family: 'Coming Soon', cursive;
}

#fsButton {
    font-size: 1rem;
    width: 7rem;
}

/* Footer Info*/
footer{
    border: 10px double black;
    background-color: white;
    height: 50px;
    position: relative;
    top: 175px;
    font-family: 'Coming Soon', cursive;    
    text-align: center;
}

