body {
    background-color: black;
    margin: auto;
    width: 1050px;
    padding: 10px;
}

canvas {
    border: 10px double white;
}

#controlContainer {
    background-color: white;
    border: 10px double black;
    width: 700px;
    margin: auto;
    padding-left: 10px;
}

#controls {
    margin-left: 1rem;
}

#volumeLabel {
    margin-left: 1rem;
}

section {
    margin-bottom: 1rem;
}

#playButton {
    font-size: 1rem;
    width: 4rem;
}

button[data-playing="yes"]:after {
    content: "Pause";
}

button[data-playing="no"]:after {
    content: "Play";
}

#fsButton {
    font-size: 1rem;
    width: 7rem;
}